# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Compiled Go files
*.exe
*.test
*.prof
*.out
*.test
*.testify
*.cover
*.trace

# Dependency directories (created by `go mod tidy` command)
/vendor/
/go.sum
